<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pranav.table">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ptable"
        android:roundIcon="@drawable/po"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="co.pranav.table.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>


        <activity
            android:name="co.pranav.table.opening"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>